.gridpartners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 24px;
  align-items: center;
  grid-auto-rows: 80px;
}

@media screen and (max-width: 600px) {
  .gridpartners {
    transform: scale(0.8);
    max-width: 350;
  }
}
